.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
*/out/
*/.vs/

# add dir from maven
java-datastruc-vscode-viz/.settings/

# add maven .gitignore
 
*/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
